<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dijing.Common.Core" version="2.6.9" targetFramework="net461" />
  <package id="Dijing.SerilogExt" version="1.0.8" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Serilog" version="2.10.0" targetFramework="net461" />
  <package id="Serilog.Sinks.Console" version="4.0.0" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="5.0.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net461" />
  <package id="System.Management" version="4.7.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Xabe.FFmpeg" version="5.0.2" targetFramework="net461" />
</packages>